<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.campusconnect">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CampusConnect"
        android:usesCleartextTraffic="true">

        <!--  NEW ENTRY (Compose) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <!-- For testing old -->
<!--        <activity-->
<!--            android:name=".MainActivity"-->
<!--            android:exported="true"/>-->

<!--        <activity-->
<!--            android:name=".phase1.activities.SplashScreen"-->
<!--            android:exported="true"-->
<!--            android:theme="@style/Theme.AppCompat.Light.NoActionBar">-->

<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN"/>-->
<!--                <category android:name="android.intent.category.LAUNCHER"/>-->
<!--            </intent-filter>-->

<!--        </activity>-->

        <!-- Splash (NO LONGER LAUNCHER) -->
        <activity
            android:name=".phase1.activities.SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- Auth -->
        <activity
            android:name=".phase1.activities.LoginActivity"
            android:exported="true"/>

        <activity
            android:name=".phase1.activities.User_Registration"
            android:exported="false"/>

        <!-- Core -->
        <activity
            android:name=".phase1.activities.MainActivity"
            android:exported="true"/>

        <!-- Features -->
        <activity
            android:name=".phase1.activities.MapActivity"
            android:exported="true"/>

        <activity
            android:name=".phase1.activities.ChatActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"/>

    </application>

</manifest>